@use '../../styles/colors.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button{
    color: colors.$grey;
    font-size: .9rem;
    background-color: transparent;
    border: none;
    text-transform: capitalize;
    cursor: pointer;
    font-weight: 600;
    border-radius: 18px;
}

.active{
    position: relative;
    background-color: colors.$active;
    color: colors.$orange_text;
    padding: 10px 30px 10px 10px;
}

.regular{
    color: colors.$white;
    background-color: colors.$regular_btn;
}

