@use '../../styles/colors.scss';

.button {
  font-size: 0.9rem;
  background-color: transparent;
  border: none;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 600;
  border-radius: 1.08rem;
}

.active {
  position: relative;
  background-color: colors.$active;
  color: colors.$orange_text;
  padding: 0.6rem 1.8rem 0.6rem 0.6rem;
}

.regular {
  border-radius: 0.9rem;
  padding: 0.42rem 0.78rem;
  color: colors.$white;
  background-color: colors.$regular_btn;
  border: 0;
  cursor: pointer;
}
