$app_background: #F5F5F5;
$app_hero_text: #363636;
$app_hero_orange_text: #F17C0F;
$black: #000000;
$grey: #797979;
$active: #FFE5CD;
$card_background:#F9F6F6;
$regular_btn: #FF8515;
$white: #ffffff;

