@use '../../styles/breakpoints.scss' as b;

.header {
  width: 95%;
  display: flex;
  padding-left: 10vw;
  align-items: flex-start;
  justify-content: space-between;
  @media (min-width: b.$smallBP) {
    align-items: center;
  }
}
