@use '../../styles/colors.scss';
@use '../../styles/breakpoints.scss' as b;

.buttons-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  padding: 0 1.5rem 0 0;

  @media (max-width: b.$smallBP) {
    padding: .6rem 1.5rem 0 0;
  }

  a {
    text-decoration: none;
    color: colors.$grey;
    font-weight: 600;
  }

  button::after {
    content: "";
    background-image: url("../../images/image1.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 2.4rem;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    transform: translateX(.6rem);
    background-color: colors.$white;
  }
}
