@use '../../styles/colors.scss';
@use '../../styles/breakpoints.scss' as b;

.headerTitle-container {
  h1 {
    font-size: 3rem;
    color: colors.$hero_text;
    font-weight: 700;
    line-height: 1;

    @media (max-width: b.$mediumBP) {
      font-size: 2.1rem;
    }
  }
}
