@use './styles/colors.scss';
@use './styles//breakpoints.scss' as b;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    width: 100vw;
    padding: 10vh 10vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media (max-width: b.$wideBP){
        align-items: center;
        padding: 10vh 5vw;
    }
    @media (max-width: b.$smallBP){
        align-items: center;
        padding: 10vh 3vw;
    }
}