@use './styles/colors.scss';
@use './styles//breakpoints.scss' as b;

.app {
  width: 100vw;
  padding: 10vh 0 5vh 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  gap: 2rem;
  @media (max-width: b.$wideBP) {
    padding: 10vh 0 5vh 0;
  }
  @media (max-width: b.$smallBP) {
    padding: 10vh 0 5vh 0;
  }
}
