@use '../../styles/colors.scss';

.card {
  position: relative;
  display: grid;
  place-content: center;
  width: 13.8rem;
  height: 16.2rem;
  border-radius: 1.8rem;
  background-color: colors.$card_background;
  flex-shrink: 0;

  .card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transform: translateY(40%);


    h6 {
      font-size: 1.2rem;
      color: colors.$hero_text;
    }

    .card-subtitle {
      font-size: 0.9rem;
      color: colors.$grey;
      font-weight: 600;
    }
    .price {
      color: colors.$hero_text;
      font-size: 1rem;
      font-weight: 600;
    }
    .price::before {
      content: "$";
      color: colors.$orange_text;
      padding-right: 3px;
    }
  }

  .card-basket {
    position: absolute;
    right: 1.1rem;
    bottom: 1.1rem;
    padding: 0.5rem;
    border-radius: 0.42rem;
    background-color: colors.$white;
    cursor: pointer;
  }

  .card-image {
    width: 7.8rem;
    height: 7.8rem;
    position: absolute;
    right: 0;
    top: -2rem;
  }
}
