@use '../../styles/colors.scss';
@use '../../styles//breakpoints.scss' as b;

.hero {
  width: 48%;
  padding-left: 10vw;

  @media (max-width: b.$wideBP) {
    width: 70%;
    padding: 0;
    margin: auto;
  }
  @media (max-width: b.$smallBP) {
    width: 95%;
    padding: 0;
    margin: auto;
  }

  h1 {
    font-size: 4rem;
    line-height: 1.2;
    color: colors.$hero_text;
    text-align: left;

    @media (max-width: b.$wideBP) {
      text-align: center;
      font-size: 3.4rem;
    }

    @media (max-width: b.$smallBP) {
      text-align: center;
      font-size: 2.2rem;
    }
  }

  h1:nth-child(2) {
    color: colors.$orange_text;
    margin-bottom: 1.5rem;
  }
}
p {
  font-weight: 400;

  @media (max-width: b.$wideBP) {
    text-align: center;
    font-size: 0.9rem;
  }
}
